.tooltip {
    width: 50px;
    height: 50px;
    background-color: #eafa06;
    margin: 0 auto;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}
.tooltip:hover {
    cursor: pointer;
}
.tooltip:hover::after {
    content: "Olá";
    position:absolute;
    top:60px;
    text-align: center;
    width: 60px;
    height: 18px;
    background-color: #b39f9f;
    border-radius: 4px;
}

i {
    font-size: 36px;
    color: #ee7a44;
    margin: 5px;
}